<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweet Generator</title>
</head>
<header>
  <h1>1984 Generator</h1>
</header>
<body>
  <form action="/" method="post">
    <label for="order">Select Order:</label>
    <input type="range" id="order" name="order" min="0" max="10" step="1">
    <br>
    <output for="order" id="order-value">5</output>
    <br>
    <input type="submit" value="Generate Sentence">
  </form>
    <blockquote>{{ sentence }}</blockquote>
</body>
<script>
  let orderInput = document.getElementById("order");
  let orderValue = document.getElementById("order-value");

  orderInput.addEventListener("input", function() {
    orderValue.innerText = orderInput.value;
  });
</script>
</html>
